---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Preparación y Equipamiento">
<h1 class="text-3xl font-bold mb-8 text-green-800 text-center md:text-left">Preparación para la salida</h1>

<section class="mb-12">
  <h2 class="text-2xl font-semibold mb-6 text-green-700">Equipamiento recomendado</h2>
  <div class="overflow-x-auto shadow-md rounded-lg">
    <table class="min-w-full bg-white">
      <thead class="bg-green-600 text-white">
        <tr>
          <th class="px-6 py-4 text-left">Categoría</th>
          <th class="px-6 py-4 text-left">Elementos clave</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <!-- tus filas -->
      </tbody>
    </table>
  </div>
</section>

  <section class="mb-12">
    <h2 class="text-2xl font-semibold mb-4 text-green-800">Compromiso Verde – Normas de conducta</h2>
    <ul class="list-disc pl-6 space-y-2 text-lg">
      <li><strong>Lo que llevas, vuelve contigo</strong>: cero residuos (ni peladuras).</li>
      <li>Mantén el silencio: evita alzar la voz y los gritos para no molestar fauna.</li>
      <li>No salgas del sendero: evita atajos para prevenir erosión.</li>
      <li>Respeta el entorno: no recolectes plantas ni dejes marcas.</li>
    </ul>
  </section>
  <section class="mb-12">
    <h2 class="text-2xl font-semibold mb-4 text-green-800">Vestimenta,materiales y alimentos</h2>
    <ul class="list-disc pl-6 space-y-2 text-lg">
      <li><strong>Calzado:</strong> Calzado cómodo y resistente, con suela antideslizante.</li>
      <li><strong>Ropa:</strong> Ropa cómoda y transpirable, pantalón largo y camiseta de manga larga, para protegerse de la vegetación y el sol. <br> Y sobre todo de las garrapatas tan frecuentes en esta época del año.</li>
      <li><strong>Alimentos:</strong> Lleva agua suficiente, snacks energéticos y evita alimentos que puedan atraer animales.</li>
    </ul>
  </section>
    <section>
    <h2 class="text-2xl font-semibold mb-4 text-green-800">Vestimenta,materiales y alimentos</h2>
    <ul class="list-disc pl-6 space-y-2 text-lg">
      <li><strong>Mochila:</strong> Evitar exceso de peso (máximo 10 kg).</li>
      <li>Bastones de trekking (recomendados).</li>
      <li>Protector solar, gorra y gafas de sol.</li>
      <li>Power bank y frontal por si se alarga la jornada.</li>
      <li>Papel higiénico y bolsa para residuos.</li>
    </ul>
  </section>
 
  
</Layout>