<nav class="bg-green-600 text-white p-4">
  <ul class="flex space-x-4 justify-center flex-col sm:flex-row">
    <li><a href="/" class="hover:underline">Home</a></li>
    <li><a href="/itinerario" class="hover:underline">Itinerario</a></li>
    <li><a href="/preparacion" class="hover:underline">Preparación</a></li>
    <li><a href="/patrimonio" class="hover:underline">Patrimonio</a></li>
    <li><a href="/feedback" class="hover:underline">Feedback</a></li>
  </ul>
</nav>